
<!DOCTYPE html>
<html>
<head>
  <title>Neural Style Transfer</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <style type="text/css">
      .top-buffer { margin-top:50px; }

      .img-thumbnail {
        max-width: 900px;
        height: auto;
      }

      .videotar_video
      {
      border-radius:5px 5px 5px 5px;
      }
    </style>
</head>
<body>

  {% load static %}

    {% block navbar %}
       {% include "_navbar.html" %}
    {% endblock %}

  <center>
  <div class="container-fluid">
    
    <div class="row top-buffer">
      <div class="col">
        <h1>Neural Style Transfer </h1>

        Turn your portrait into a painting! Made by <a href="https://raunaqness.in">Raunaq</a>
      </div>
    </div>

    <div class="row top-buffer">
      
      <div class="col-md-12">
        <h3> Watch a Demo of the CI/CD Pipeline in action </h3>
      </div>

      <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XIuwHSM3DVo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>

    <div class="row top-buffer">
      <div class="col-md-12">
        <h4>A flow-diagram of the whole System </h4>
      </div>

      <div class="col-md-12">
        <p style="font-size:30px">
          <img src="https://i.imgur.com/98pNvjN.jpg" class="img-thumbnail" alt="Elon">
        </p>
      </div>

    </div>



</body>

</html>