
<!DOCTYPE html>
<html>
<head>
  <title>Neural Style Transfer</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">
      .top-buffer { margin-top:30px; }

      .img-thumbnail {
        max-width: 250px;
        height: auto;
      }
    </style>
</head>
<body>



  {% load static %}

  {% block navbar %}
     {% include "_navbar.html" %}
  {% endblock %}

  <center>
  <div class="container-fluid">
    
    <div class="row top-buffer">
      <div class="col">
        <h1>Neural Style Transfer </h1>

        Turn your portrait into a painting! Made by <a href="https://raunaqness.in">Raunaq</a>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-md-12">

        <p style="font-size:30px">
          <img src="https://i.imgur.com/YMRUlTX.jpg" class="img-thumbnail" alt="Elon">
          +
          <img src="https://i.imgur.com/TMTGqWA.jpg" class="img-thumbnail" alt="Starry Night">
          =
          <img src="https://i.imgur.com/pO8HkdP.jpg" class="img-thumbnail" alt="Starry Elon">
        </p>
      </div>

    </div>

    <div class="row top-buffer">
      <div class="col">
        <div class="custom-file">
          <form action="" method="post" enctype="multipart/form-data" id="mainForm">
            {% csrf_token %}
            <div class="form-row">
              <div class="col">
                <!-- <input type="file" class="custom-file-input" id="customFile" name="file" onchange="form.submit()" hidden> -->
                <label class="btn btn-primary" for="my-file-selector">
                    <input id="my-file-selector" type="file" class="d-none" name="file" onchange="form.submit()">
                    Upload your Image
                </label>
              </div>

          </form>
        </div>

      </div>
    </div>


</body>

</html>