
<!DOCTYPE html>
<html>
<head>
  <title>Neural Style Transfer</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <style type="text/css">
      .top-buffer { margin-top:50px; }

      .img-thumbnail {
        max-width: 500px;
        height: auto;
      }

      .videotar_video
      {
      border-radius:5px 5px 5px 5px;
      }
    </style>
</head>
<body>

  {% load static %}

    {% block navbar %}
       {% include "_navbar.html" %}
    {% endblock %}

  <center>
  <div class="container-fluid">

    <div class="row top-buffer">
      <div class="col-md-12">
        <a href="#" onclick="prepHref(this)" download>
          <img src="data:image/png;charset=utf-8;base64,{{artwork_as_base64_string}}" class="img-thumbnail">
        </a>
        
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-md-12">

      </div>
      
    </div>

    </div>



</body>

</html>